<!-- breadcrumb -->
<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Carrito
			</span>
		</div>
</div>
<form class="bg0 p-t-30 ">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10  m-b-50">
					<div >
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart" >
								<tr class="table_head" style="background-color: rgba(214, 124, 108, 0.596);">
									<th class="column-1 tab">Imagen</th>
									<th class="column-3 tab">Nombre</th>
									<th class="column-3 tab">Cantidad</th>
                                    <th class="column-3 tab">Ajustes</th>
									<th class="column-3 tab">Total</th>
								</tr>

                                   {{#each carrito}}
								<tr class="table_row">
									<td class="column-1 tab">
										<div class="how-itemcart1">
											<img src="images/{{imagen_producto}}" alt="IMG">
										</div>
									</td>
									<td class="column-3 tab">{{nombre_producto}}</td>
                                    <td class="column-3 tab">{{cantidad}}</td>
									<!--<td class="column-3 tab p-r-30">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>-->
                                    <td class="column-3 tab">
										<a href="/carrito/baja/{{id}}"><i class="fas fa-trash" style="color: rgb(209, 102, 92); cursor: pointer"><span class="sp">  Eliminar producto</span></i></a>
										<a href="/carrito/baja/{{cantidad}}/{{id}}"><i class="fas fa-trash" style="color: rgb(209, 102, 92); cursor: pointer"><span class="sp">  Eliminar cantidad</span></i></a>
									</td>

									
									<td class="column-3 tab">$ {{precio}}</td>
                                    
								</tr>
                                    {{/each}}

							</table>
						</div>
						
					</div>
				</div>
			</div>
		</div>
</form>
<div class="container">
    <div class="row justify-content-center">
		<div class=" col-lg-10 m-b-50">
			<div class="bor10 p-lr-40 p-t-30 p-b-40 ">
				<h4 class="mtext-109 cl2 p-b-30">
					Total del carrito
				</h4>


				<div class="flex-w flex-t p-t-27 p-b-33">
					<div class="size-208">
						<span class="mtext-101 cl2">
							Total:
						</span>
					</div>

					<div class="size-209 p-t-1">
						<span class="mtext-110 cl2">
							$ {{carritoFinal}}
						</span>
					</div>
				</div>

				
				<button type="submit" class="flex-c-m stext-101 cl0 size-104 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Comprar
				</button>

				<h5 class="mtext-105 cl2 txt-center p-b-30 m-t-10" style="color: rgb(32, 156, 156);">{{message}}</h5>
			</div>
		</div>
    </div>
</div>

