	<!-- Detalle-->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="/images/{{producto.imagen}}">
									<div class="wrap-pic-w pos-relative">
										<img src="/images/{{producto.imagen}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/{{producto.imagen}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<form action="/productos/single/{{producto.id}}" method="POST">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 id="nombre" name="nombre" class="mtext-105 cl2 js-name-detail p-b-14">
							{{producto.nombre}}
						</h4>

						<span id="precio" name="precio" class="mtext-106 cl2">
							$ {{producto.precio}}
						</span>
						<span id="previo" name="previo" class="mtext-106 cl2">
							{{precio_previo}}
						</span>

						<p id="descripcion" name="descripcion" class="stext-102 cl3 p-t-23">
							{{producto.descripcion}}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10 justify-content-center">
								<div class="size-203 flex-c-m respon6 text-aling-center">
									    <h3>
                                            Cantidad
                                        </h3>
								</div>

								
							</div>


							<div class="flex-w flex-r-m p-b-10 justify-content-center">
								<div class="size-204 flex-w flex-m respon6-next justify-content-center">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10 m-l-20">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number" name="cantidad" id="cantitad"  value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 m-t-10 p-lr-15 trans-04 js-addcart-detail">
										Añadir al carrito
									</button>
								</div>
							</div>	
						</div>
						</form>
						<!-- Redes sociales -->
						<div class="flex-w flex-m m-t-85 respon7 justify-content-center">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite"></i>
								</a>
							</div>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Instagram">
								<i class="fa fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>

	</section>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

